## Deliverable 2. Create a Customer Travel Destinations Map.

In [52]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key


# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [53]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nola,IT,40.9220,14.5329,84.92,27,48,1.57,scattered clouds
1,1,Hermanus,ZA,-34.4187,19.2345,52.90,65,2,11.01,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,74.98,81,98,18.41,light rain
3,3,Port Alfred,ZA,-33.5906,26.8910,61.45,31,30,11.21,scattered clouds
4,4,Aksu,CN,41.1231,80.2644,93.18,16,1,7.63,clear sky

In [54]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [55]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nola,IT,40.9220,14.5329,84.92,27,48,1.57,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,74.98,81,98,18.41,light rain
7,7,Nogliki,RU,51.8333,143.1667,70.99,84,100,8.66,overcast clouds
9,9,Mumford,GH,5.2618,-0.7590,75.58,77,98,11.99,overcast clouds
13,13,Pochutla,MX,15.7432,-96.4661,81.45,93,100,3.94,overcast clouds

In [56]:
# 4a. Determine if there are any empty rows.
print(len(preferred_cities_df))
preferred_cities_df.isnull().sum()

299

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [57]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how='any')

In [58]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Nola,IT,84.92,scattered clouds,40.9220,14.5329,
2,Rikitea,PF,74.98,light rain,-23.1203,-134.9692,
7,Nogliki,RU,70.99,overcast clouds,51.8333,143.1667,
9,Mumford,GH,75.58,overcast clouds,5.2618,-0.7590,
13,Pochutla,MX,81.45,overcast clouds,15.7432,-96.4661,
14,Kropotkin,RU,72.10,overcast clouds,45.4375,40.5756,
17,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,
18,Khatanga,RU,72.72,overcast clouds,71.9667,102.5000,
19,Ouesso,CG,73.54,overcast clouds,1.6136,16.0517,
21,San Patricio,US,84.04,clear sky,28.0170,-97.5169,

In [59]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
# 7. Drop the rows where there is no Hotel Name.

print(hotel_df.tail())
filter = hotel_df["Hotel Name"] != ""
clean_hotel_df = hotel_df[filter]

clean_hotel_df.tail()

            City Country  Max Temp Current Description      Lat       Lng  \
682      Bontang      ID     84.63    scattered clouds   0.1333  117.5000
686  Chake Chake      TZ     74.41    scattered clouds  -5.2459   39.7666
687   Piranshahr      IR     74.50           clear sky  36.7010   45.1413
691       Miaray      PH     83.35       broken clouds   7.5747  125.0444
693      Atambua      ID     84.79    scattered clouds  -9.1061  124.8925

                                   Hotel Name
682               KOPKAR Hotel Bintang Sintuk
686                         Hotel Archipelago
687                           مسافر خانه سعدی
691  Ben Justin/Ben John Ross/Ben Jethro Farm
693               Pastori 1 Jemaat Polycarpus

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
682,Bontang,ID,84.63,scattered clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
686,Chake Chake,TZ,74.41,scattered clouds,-5.2459,39.7666,Hotel Archipelago
687,Piranshahr,IR,74.50,clear sky,36.7010,45.1413,مسافر خانه سعدی
691,Miaray,PH,83.35,broken clouds,7.5747,125.0444,Ben Justin/Ben John Ross/Ben Jethro Farm
693,Atambua,ID,84.79,scattered clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus

In [66]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [62]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
clean_hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [64]:
# 11a. Add a marker layer for each city to the map. 

max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=clean_hotel_info)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
# 11b. Display the figure

#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,max_intensity=300, point_radius=4)
             
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))