## Deliverable 3. Create a Travel Itinerary Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [28]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Nola,IT,84.92,scattered clouds,40.9220,14.5329,Pamaran Hotel
1,2,Rikitea,PF,74.98,light rain,-23.1203,-134.9692,People ThankYou
2,7,Nogliki,RU,70.99,overcast clouds,51.8333,143.1667,"Hotel ""Nogliki"""
3,9,Mumford,GH,75.58,overcast clouds,5.2618,-0.7590,Spanish Villa
4,13,Pochutla,MX,81.45,overcast clouds,15.7432,-96.4661,Hotel Posada San Jose

In [30]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info= [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0    40.9220   14.5329
1   -23.1203 -134.9692
2    51.8333  143.1667
3     5.2618   -0.7590
4    15.7432  -96.4661
..       ...       ...
261   0.1333  117.5000
262  -5.2459   39.7666
263  36.7010   45.1413
264   7.5747  125.0444
265  -9.1061  124.8925

[266 rows x 2 columns]

In [33]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Nola,IT,84.92,scattered clouds,40.9220,14.5329,Pamaran Hotel
1,2,Rikitea,PF,74.98,light rain,-23.1203,-134.9692,People ThankYou
2,7,Nogliki,RU,70.99,overcast clouds,51.8333,143.1667,"Hotel ""Nogliki"""
3,9,Mumford,GH,75.58,overcast clouds,5.2618,-0.7590,Spanish Villa
4,13,Pochutla,MX,81.45,overcast clouds,15.7432,-96.4661,Hotel Posada San Jose
...,...,...,...,...,...,...,...,...
261,682,Bontang,ID,84.63,scattered clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
262,686,Chake Chake,TZ,74.41,scattered clouds,-5.2459,39.7666,Hotel Archipelago
263,687,Piranshahr,IR,74.50,clear sky,36.7010,45.1413,مسافر خانه سعدی
264,691,Miaray,PH,83.35,broken clouds,7.5747,125.0444,Ben Justin/Ben John Ross/Ben Jethro Farm
265,693,Atambua,ID,84.79,scattered clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus

In [55]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Dongsheng"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Dongsheng"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Zhangye"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Jinchang"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Ningxiang"]

In [56]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start =vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0] 
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0] 
stop1 =vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

# Get the lat and lng for the start and end of the trip
#start = city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]
#end = city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]
#print(f'Start: {start}, End: {end}')

# Get the lat and lng for the stops
#coords_stop_1 = city_stop1["Lat"].to_numpy()[0], city_stop1["Lng"].to_numpy()[0]
#coords_stop_2 = city_stop2["Lat"].to_numpy()[0], city_stop2["Lng"].to_numpy()[0]
#print(f'Stop 1: {coords_stop_1}, Stop 2: {coords_stop_2}')

In [57]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,388,Dongsheng,CN,75.96,clear sky,39.8161,109.9776,Crowne Plaza Ordos
1,79,Zhangye,CN,82.13,overcast clouds,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
2,562,Jinchang,CN,75.33,overcast clouds,38.4953,102.1739,Mingshihui Jinchang International Hotel
3,669,Ningxiang,CN,82.90,broken clouds,37.3400,111.2052,IU Hotel Luliang Xiaoyi Zhenxing Street

In [59]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [76]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(39.0, 105.0), zoom_level=5.8
                  )
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))